@using Microsoft.Ajax.Utilities
@using WeddingAzure.Models
@model WeddingAzure.Models.RsvpFormData

@{
    ViewBag.Title = "#Lando2018 - RSVP";

    ViewBag.AttendingWeddingText = @Model.AttendingWeddingCheckBox ? "will" : "will not";
    ViewBag.AttendingSundayText = @Model.AttendingSundayCheckBox ? "will" : "will not";
    ViewBag.DietaryRequirementsText = @Model.DietaryRequirementsTextBoxData ?? "N/A";
    ViewBag.SongRequestText = @Model.SongRequestTextBoxData ?? "anything";
}

<div class="row">
    <div class="col-xs-12"><h2>RSVP</h2></div>
</div>
<hr />
<div class="row">
    <span class="glyphicon glyphicon-heart"></span>
</div>
<hr />
<div class="row">
    <div class="col-xs-12 p-center-md-4">
        @if (Model?.NameTextBoxData == null)
        {
        <p class="p-justify">Woops, something went wrong! Please re-submit the RSVP </p>
        }
        else
        {
            if (Model.AttendingWeddingCheckBox)
            {
                <p class="p-justify">Response submitted! See you at the wedding @Html.DisplayFor(m => m.NameTextBoxData)! </p>

        }
        else
        {
            <p class="p-justify">Response submitted! It's a shame to hear you can't make it @Html.DisplayFor(m => m.NameTextBoxData).</p>
        }
        <p class="p-justify"></p>
        <p class="p-justify">You answered that:</p>
        <ul>
            <li class="p-justify">you <i>@ViewBag.AttendingWeddingText</i> be attending the Wedding</li>
            <li class="p-justify">you <i>@ViewBag.AttendingSundayText</i> be attending Pop in the Park</li>
            <li class="p-justify">your dietary requirements are <i>@ViewBag.DietaryRequirementsText</i></li>
            <li class="p-justify">you will dance if <i>@ViewBag.SongRequestText</i> is played</li>
        </ul>
        <p class="p-justify">   If these details are incorrect just re-submit the RSVP</p>
        <p class="p-justify"></p>
        <p class="p-justify"></p>
        if (Model.AttendingWeddingCheckBox)
        {
            <p class="p-justify thick">Yay! We can't wait to spend our special day with you, A&L xoxo</p>
        }
    }
    </div>
</div>

<hr />
@if (Model?.NameTextBoxData != null)
{
    if (Model.AttendingWeddingCheckBox)
    {
        <iframe src="https://giphy.com/embed/GStLeae4F7VIs" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    }
    else { 
    <iframe src="https://giphy.com/embed/Qw4X3FOWnLI44Hj29pe" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    }
}